<?xml version="1.0" encoding="utf-8"?>

<feed xmlns="http://www.w3.org/2005/Atom">

	<title><![CDATA[ {{@site.title}} ]]></title>
	<subtitle><![CDATA[ {{@site.description}} ]]></subtitle>
	<link href="{{@site.url}}/atom/" rel="self" />
	<link href="{{@site.url}}" />
	<id>{{@site.url}}/</id>
	<updated>{{date format="YYYY-MM-DDTHH:mm:ssZ"}}</updated>
	
	{{#get "posts" limit="15" page="1" order="published_at desc" include="authors,tags"}}
    {{#foreach posts}}
	<entry>
		<title><![CDATA[ {{title}} ]]></title>
		<link href="{{url absolute="true"}}" />
		<id>{{url absolute="true"}}</id>
        <published>{{published_at}}</published>
		<updated>{{updated_at}}</updated>
		{{#foreach tags}}
		<category term="{{name}}"/>
		{{/foreach}}
		<summary>{{excerpt}}</summary>
        <content type="xhtml">
            <div xmlns="http://www.w3.org/1999/xhtml">
                {{content}}
            </div>
        </content>
		<author>
			<name>{{primary_author.name}}</name>
		</author>
	</entry>
    {{/foreach}}
    {{/get}}
</feed>